/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6e3480;
  /* --ifm-color-primary-dark: #3a0644;
  --ifm-color-primary-darker: #2a0434;
  --ifm-color-primary-darkest: #1a0224;
  --ifm-color-primary-light: #5a1764;
  --ifm-color-primary-lighter: #6a2774;
  --ifm-color-primary-lightest: #7a3784; */
  --ifm-color-gray-900: #000000; /* Black */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #000000;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary:  #6e3480;
  --ifm-color-primary-dark: #3a0644;
  --ifm-color-primary-darker: #2a0434;
  --ifm-color-primary-darkest: #1a0224;
  --ifm-color-primary-light: #5a1764;
  --ifm-color-primary-lighter: #6a2774;
  --ifm-color-primary-lightest: #7a3784;
  --ifm-color-gray-100: #000000; /* Black */
  --docusaurus-highlighted-code-line-bg: #000000;
}

/* Custom styles for navbar and footer background */
.navbar {
  background-color: #000000;
  color: #ffffff;
}

.footer {
  background-color: #6e3480;
  color: #000000;
  font-weight: bolder;
}
